@charset "UTF-8";
/*ask_admin css*/
a{
	list-style: none; padding:0; margin:0; color:black;
	}
.cs_message{
		margin: 0 auto;
		font-size:14px;
		width:100%;
		margin-bottom:20px;	
	}
/*판매자 고객센터 - 왼쪽 카테고리*/
	.cs_nav{
		width: 180px;
		margin-right:0;
	
		display: absolute;
		top:0;
		/* background-color: #0B2147; */
		border-bottom:1px solid black;
		color:black;
		padding: 25px;
	}
	.cs_nav li{
		padding:0;
		text-align:center;
		color:black;
		margin:70px 0 70px 0;
		float:left;
	}
	.cs_nav>li a{color:black; margin-bottom:20px;}
	.cs_ul>li:nth-child(1){
		font-size:25px; 
		margin:0; padding:0;
		text-align: center;
		color:gray
	}

	/*고객센터 상단 title bar & 판매자 페이지 상단title bar*/
	.cs_message{
		margin: 0 auto;
		font-size:14px;
		width:90%;
		margin-bottom:20px;	
		font-weight:bold;
	}
	.cs_wrapTitle{
	   	margin:40px 40px 40px 0px;
		text-align:center;
		font-size:20px;
	}	
	#link, #notice{color: gray;}
	#notice, td{font-size:12px}
	/*표*/
	table{
		width:100%;	
		border-spacing: 0;
		text-indent: initial;
		margin:0 auto;	
		border-top:1px solid lightgray;
		border-bottom:1px solid lightgray;
		font-size:12px;
	}
	th, .th{
		height:40px;
		text-align:center;
		display: table-cell;
	    vertical-align: inherit;
	    font-weight: bold;
	    text-align: -internal-center;
	    border-bottom: 1px solid #ccc;
	    border-top: 1px solid #ccc;
   		background-color: #fcfcfc;
   		font-size: 13px;
	}
	td{
		height:40px;
		border-bottom:1px solid lightgray;
	}
	thead, .answer_content, .td{
		border-bottom: 1px solid #ccc;
	    border-top: 1px solid #ccc;
	    width:100%;
	    
	}
	tr{
		display: table-row;
	    vertical-align: inherit;
	    border-color: inherit;
	    height:40px;
	    font-size:12px;
	}
	.menu{
		border-right:1px solid lightgray;
		/* border-left:1px solid lightgray; */
	}
	.td, .content{
		padding-left:20px;
		
	}
	.content{
		margin: 20px 0 20px;
	}
	td, .td{
		height:40px;
	}
	.tr_head{
		font-weight:bold;
	}
	.tr_head li{
		float:left;
	}
	.td, .th{ line-height:40px;}
	.td{
		width:30%; line-height:40px;
	}
	/*이전글, 다음글*/
	.prev_next_wrap{
		width:100%;
		margin:20px 0px 0px 50px;
	}
	.prev_next_wrap li{
		height:40px;
		line-height:40px;
		border-bottom:1px solid lightgray;
	}
	.prev_next_wrap a{
		padding-left:20px;
		color: black;
	}
	.question_content, .answer_content{padding:10px;}
	.next{margin-bottom:30px}
	answer_line{width:100%; 	background-color:#f6f6f6; height:20px; }
	#subject,  select{border:none;}
	#subject{width:300px; }
	#subject{border:none; width:500px}
	.menu{width:150px}
	
	/*ask_admin_list*/	
	#link{color: gray;}
	.answer_span{
		background-color: #fcfcfc;
		border-radius:10px;
		padding:5px;
		font-size:14px;	
	}
	.select{
		margin-left:50px;
		width:130px;
		height:30px;
	}
	#search_container, #select_container{width:100%; margin:0 auto; margin-bottom:10px;}
	#select_container{margin:0 auto; height:40px;}
	select{float:right; border:1px solid lightgray;}
	/*버튼*/
	.bottom_wrap{margin:10px auto; width:90%;  text-align:center;}
	#ask_btn, #btn{
		width:150px; 
		height:30px; 
		margin-left:20px; 
		background-color:white; 
		color:black;
		border:1px solid lightgray;
	}
	#ask_btn{margin-left:0;}

	/* 고객센터 상단 메뉴 */
	#seller_cs_menu{
		width:600px;	
	}
	/*검색하기*/
	#search_btn{padding:5px;border-left:1px solid lightgray;}