@charset "UTF-8";
/*================ 기본 설정 시작 =================*/
header{
	width: 1080px; 
	margin: 0 auto;
	height: 200px;
}
section{
	width: 1080px;
	margin: 0 auto;
	overflow: auto;
	display: flex;
	flex-direction: row;
}
footer{
	width: 1080px;
	margin: 0 auto;
}
ul,li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.font_bold{
	font-weight: bold;
}
/*a:hover,a:active,a:visited,a:link{text-decoration: none; }*/
/*================ 기본 설정 끝 =================*/

/*================ 헤드 시작 ===================*/
#memberInfo_container{
	display: flex;
	flex-direction: row-reverse;
	margin: 15px 0;
}
#memberInfo_container span:nth-child(n+1):nth-child(-n+2),#memberInfo_container span:nth-child(5){
	background-color: black;
	border-radius: 20px;
	padding: 0 10px;
	margin: 10px 10px;
}
#memberInfo_container span:nth-child(n+3){
	margin: 10px 5px;
}
#memberInfo_container span:nth-child(3)>a{
	color: black;
}
#memberInfo_container span:nth-child(4){
	display: inline;
	width: 5px;
	height: 5px;
	border-radius: 50px;
	background-color: red;
	margin-top: 20px;
}
#logo_container{
	width: 1080px;
	text-align: center;
}
#logo_img{
	width: 300px;
	height: 100px;
}


/*================ 헤드 끝 ====================*/

/*================ 사이드바 시작=================*/
nav{
	width: 180px;
	margin:0;
	padding: 0 10px;
	background-color: rgb(241, 196, 15);
	color:black;
	padding: 25px;
}
nav li{
	padding: 25px;
	text-align: center;
	color:black;
	font-weight:bold;
	margin:25px 0 25px 0 ;
	
}

/*================ 사이드바 끝 =================*/

article{
	width: 100%;
	padding-bottom:50px;
}

/* 검색하기 */
#search_container{
	width: 100%;
	height: 30px;
	margin-bottom: 30px;
}
#search_box{
	height: 30px;
	line-height: 30px;
	border: solid 1px #ddd;
	display: inline-block;
	float: right;
	background-color: #fff;
}
#search{
	height: 25px;
	text-indent: 0.2em;
	border: white;
	float: left;
}
#search_box img{
	width: 27px;
	height: 27px;
	
	filter: invert(86%) sepia(34%) saturate(7117%) hue-rotate(311deg) brightness(90%) contrast(103%);
	float: right;
}

/*================== footer 시작 ====================*/
footer div{
	width:100%;
	height:100px;
	background-color:#aaa;
}
/*================== footer 끝 =====================*/