<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.seller.dao.SellerIntroFarmDAO">
	<select id="getOrderSales" resultType="com.beetmall.sshj.seller.vo.SellerMainVO">
		select count(realpayment) , sum(realpayment) realpayment from
        (select ordernum from orderdetail where productnum in 
        (select productnum from product where userid='${userid}')) a join ordertbl b 
        on a.ordernum = b.ordernum where b.orderdate = to_char(sysdate, 'YYYY-MM-DD') group by realpayment;
	</select>
	<select id="getDeliveryStatus" resultType="com.beetmall.sshj.seller.vo.SellerMainVO">
		select orderstatus, count(orderstatus) ordercount from (
        select ordernum, orderstatus from orderdetail where productnum in 
        (select productnum from product where userid='${userid}')) a 
        join ordertbl b on a.ordernum = b.ordernum 
        where b.orderdate = to_char(sysdate, 'YYYY-MM-DD') group by orderstatus;
	</select>
	<select id="getNotice" resultType="com.beetmall.sshj.seller.vo.SellerMainVO">
		select infotitle, infowritedate from notice where infotype = 2;
	</select>
	<select id="getReview" resultType="com.beetmall.sshj.seller.vo.SellerMainVO">
		select count(*) reviewanswer from review where productnum in (select productnum from product where userid='${userid}') 
        and reviewwritedate = to_char(sysdate, 'YYYY-MM-DD') and reviewanswer is null group by reviewanswer;
	</select>
	<select id="getQboard" resultType="com.beetmall.sshj.seller.vo.SellerMainVO">
		select count(*) qasnwer from userqboard where productnum in (select productnum from product where userid='${userid}')
        and qwritedate = to_char(sysdate, 'YYYY-MM-DD') and qanswer is null group by qanswer;
	</select>
	<select id="getSales" resultType="com.beetmall.sshj.seller.vo.SellerMainVO">
	
	</select>
	
</mapper>