@charset "UTF-8";
/*===============sellerInfoEditA(판매자 정보 수정)===============*/
	/*공통*/
	#companyHeader,  #company, #company li:nth-of-type(5), 
	#certiSee, #companyBox, #infoBox, #infoHeader, #info, 
	#companyTitle, #infoTitle,  #companyTitle>p,
	#infoBtns, #reportBox, #reportHeader, #report, 
	#reportHeader>li:nth-of-type(2),
	#report>li:nth-of-type(2), #reportBox button,#info_container{
		position:relative;
	} 
	#companyHeader>li:nth-of-type(4){
		padding-bottom:10px;
	}
	#company>li{
		padding-bottom:5px;
	}
	  #company li:nth-of-type(5){
	  	width:300px !important;
	  	left:400px;
	  	padding-top:13px;
	  }
	  #companyTitle, #infoTitle, #reportTitle, #buyTitle, #randomTitle, #bannerTitle, #todayHeader, 
	  #cateHeader, #popHeader, #useInfoHeader, #infoHandleHeader, #useTermsHeader, #financialHeader, 
	  #sales1Title, #sales2Title, #salesCateTitle{
	  	text-align:center;
	  	font-weight:bold;
	  	font-size:16px;
	  	letter-spacing:2px;
	  	border-bottom:1px solid lightgray;
		border-radius: 10px 10px 0px 0px;
	  	background-color:#FAF9F6;
	  	height:40px;
	  }
	  
	 /*좌상 법인 정보*/
	#companyBox{
	 	height:370px; 
	}
	 #company {
	 	top:-265px;
	 	left:-245px;
	 }
	 #companyHeader{
	 	padding-top:10px;
	 }
	 #companyHeader li:nth-of-type(4){
	 	padding-top:25px;
	 }
	 #companyHeader li:nth-of-type(5){
	 	width:250px !important; 
	 	padding-top:20px;
	 } 
	  #companyTitle>p{
	  	top:-10px;
	  }
	  
	 /*우상 개인정보*/
	 #infoBox{
	 	top:-350px;
	 	left:580px;
	 	height:520px;
	 	margin-left: 0 !important;
	 } 
	 #infoHeader li:nth-of-type(5){
	 	width:250px !important;
	 }
	 #infoTitle{
	 	padding-top:10px; 
	 }
	 #infoBtns{
	 	top:-230px;
	 	left:85px;
	 }
	 #infoBtns button{
	 	width:80px;
	 	margin-right:10px;
	 	height:30px;
	 } 
	 #reportHead{
	 	width:200px;
	 	position:relative;
	 	top:-105px;
	 	margin-left:150px;
	 }
	 #report>li{
	 	display:flex;
	 }
	 #report>li:nth-of-type(2){
	 	top:-35px;
	 	left:170px;
	 }
	 #reportNum,  #reportDays{
	 	font-weight:bold;
	 	color:red;
	 	margin-right:5px;
	 }
	 
	 
	 /*===================판매자 농장 정보====================*/
	 #farmInfo{
	 	background-color:rgb(40,40,100);
	 	position:relative;
	 	top:-350px; 
	 	height:50px;
	 	padding: 10px 0 0 20px;
	 }
	 #farmInfo strong{
	 	color:white;
	 } 
	 #profile_box {
	 	height:220px !important;
	 } 
	 
	  /*버튼*/
	  .success{
	  	border:1px solid gray;
	  	border-radius:2px;
	  } 
	  #company button:hover{
	   	  background: #b3b3b3;
		  color:white;
		  display: inline-block;
		  outline: 0;	  	
	  }	  
	  #infoBtns>button:nth-of-type(2){
	  	width:130px;
	  }
	  button:nth-of-type(4){
	  	margin-left:0px;
	  }
	#bottommm{
		text-align:center;  
		margin-top: 80px;
		position:relative;
		left:20px;
	}   
	#bottommm>input{
		font-size:14px;
		width:100px;
		border:1px solid gray;
		border-radius:5px;
		background-color:lightgray;
		margin-right:20px;
	}
	.write_btn{
		height:40px;
	}  
	input[type="submit"].btn:hover, input[type="button"].btn:hover, input[type="reset"].btn:hover{
   	  background: #b3b3b3;
	  color:white;
	  display: inline-block;
	  outline: 0;
	}
	/*사업자 등록증*/
	#modal{
		margin-top:100px;
		border:1px solid gray;
		margin-left:20px;
		z-index:1; 
		background-color:#eee;
		width:700px;
		height:850px;
	}
	#modalHeader{
		text-align:center;
		background-color:#ddd;
		font-weight:bold;
		border-bottom:1px solid gray;
		z-index:2;
		height:30px;
		letter-spacing:2px;
		padding-top:5px;
	}
	#modal img{
		margin:20px 0 0 100px;
		border:1px solid lightgray;
	}
	#modalBtns{
		margin:25px 0 0 180px;
	}
	#modalBtns>button{
		margin-right:15px;
	} 