@charset "UTF-8";
	header,footer{
		display:none !important;
	}
	/*내용 파트 전체*/
	#contentBox{   
		width:1090px; 
		z-index:-1;
		margin:30px 0 0 30px;
		font-size:14px;
	}	 
	#body1{
		width:1080px; 
		padding:0; 
		margin:0; 
		font-family: 'Noto Sans KR', sans-serif;
		font-size:14px;
	}
	#topBar, #topBar form, .searchFrm, #title, button, #contentBox, input[type=checkbox]{ 
		position:relative; 
	}
	.searchFrm{
		margin:20px 0 30px 300px;
	}
	.searchFrm>input[type=date]{
		border-color:lightgray;
	}
	#blind, #edit{
		position:absolute;
	}
	h5>strong{
		font-size:20px;
		letter-spacing:2px;
	} 
	#container{ 
		position:absolute; 
		top:200px; 
		left:190px; 
		width:1080px; 
		padding:0; 
		list-style-type:none; 
	}
	#container ul{ 
		width:1080px; 
	} 
	#container ul>li>a:link{
		color:black;
	}
	#ascBtn, #descBtn{  
		width:30px;
	} 
	#contentBox ul{
		margin-left:30px;
	}
	#contentBox li{ 
		text-align:center; 
	}   
	#title li:nth-of-type(5), #contentBox li:nth-of-type(5){ 
		width:15%; 
	} 
	
	/*남색 topBar*/
	#topBar h5{
		margin-top:3px;
		color:white; 
		width:400px;
		position:relative;
		left:-95px;
	} 
	#topBar>ul{
		margin:0 auto;
		width:1280px;
	}
	#topBar a{
		color:white;
	}
	#topBar{ 
		background-color:rgb(40,40,100); 
		float:left; 
		height:50px; 
		padding:10px 0 0 0px;  
		width:1920px;
		left:-200px;
	}  
	#topBar button{
		border-radius:2.5px;
	}  
	#blind{
		top:10px; 
		left:1040px; 
		width:100px;
	}
	#edit{
		top:10px; 
		left:1150px; 
		width:100px;
	}
	select{
		width:100px;
		height:30px;
	}
	 /*정렬 기능 컨테이너*/
	 #sortBox{ 
	 	margin-bottom:20px;
	 	height:40px;
	 }
	 #sortBox>.success{
	 	width:30px;
	 	margin-right:20px;
	 }
	
	/*버튼*/ 
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	
	:root {
	  --button-color: #ffffff;
	  --button-bg-color: #0d6efd;
	  --button-hover-bg-color: #025ce2;
	}
	#btns{ 
		top:-115px; 
		left:460px; 
	}  
	button {
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;	  
	  background:#fff;   
	  color: gray;	  
	  margin: 0;
	  padding: 3px 10px;   
	  font-weight: 400;
	  text-align: center;
	  text-decoration: none;	  
	  border: 1px solid gray; 
	  border-radius: 5px;	  
	  display: inline-block;
	  width: auto;	   	  
	  cursor: pointer;	  
	  transition: 0.5s;
	} 
	button:active,
	button:hover,
	button:focus{
	  background: #b3b3b3;
	  color:white;
	  display: inline-block;
	  outline: 0;
	}
	button:disabled {
	  opacity: 0.5;
	}
	button:not(.page_wrap), input{
		height:28px;
	}
	#addBtn, #delBtn, #editBtn{
		position:absolute;
		width:100px;
		top:11px;
		left:1470px;
	}
	#addBtn{
		left:1350px;
	}
	#editBtn{
		left:950px;
	} 
	#btns a>button, button:nth-of-type(4){ 
		margin-left:900px; 
	}   
	#title{ 
		width: 1070px; 
		font-weight:bold; 
		padding:65px 0 25px 0; 
		border-bottom:gray 1px solid;
	}
	#bottommm{
		text-align:center;  
		margin-top: 950px;
		position:relative;
		left:-700px;
		width:1000px;
	}
	.contentList{
		height:40px;
		position:relative;  
		margin-bottom:10px;
		padding-top:5px; 
	}  
	.contentList>li{
		padding:10px 0;
		border-bottom:1px solid #E8E8E8;
	}	
	#searchFrm{ 
		top:30px; left:252px; 
		}
	#searchFrm input[type=submit]{
		width:100px;
	} 
	#dateSearch{
		margin:10px 0 0 0 200px;
	}
	form { 
	  align-items: center; 
	}
	form>select, form>input{
		margin-right:10px;
	} 
	input[type=checkbox] { 
		top:-11px;		
	}  
	input[type=submit]{
		width:50px;
	}  
	.subjectLine, .wordCut{
		white-space:nowrap; 
		overflow:hidden;
		text-overflow:ellipsis;
	}
	#content input, textarea, select, input{
		border:1px solid lightgray; 
		border-radius: 2px;
	}
	#content li, #content label{list-style-type:none; padding-bottom:10px;}
	#content select{height:28px;}
	 
	/* 페이징처리부분 */
	.page_wrap {
		text-align:center;
		font-size:0; 
	}
	.page_nation {
		display:inline-block;
		padding-top:50px;
		margin-bottom:15px;
	}
	.page_nation .none {
		display:none;
	}
	.page_nation a {
		display:block;
		margin:0 3px;
		float:left;
		border:1px solid #e6e6e6;
		width:35px;
		height:35px;
		line-height:35px;
		text-align:center;
		background-color:#fff;
		font-size:13px;
		color:#999999;
		text-decoration:none;
	}
	.page_nation .arrow {
		border:1px solid #ccc;
	}
	.page_nation .pprev {
		background:#f8f8f8 url('<%=request.getContextPath()%>/img/kpage_pprev.png') no-repeat center center;
		margin-left:0;
	}
	.page_nation .prev {
		background:#f8f8f8 url('<%=request.getContextPath()%>/img/kpage_prev.png') no-repeat center center;
		margin-right:7px;
	}
	.page_nation .next {
		background:#f8f8f8 url('<%=request.getContextPath()%>/img/kpage_next.png') no-repeat center center;
		margin-left:7px;
	}
	.page_nation .nnext {
		background:#f8f8f8 url('<%=request.getContextPath()%>/img/kpage_nnext.png') no-repeat center center;
		margin-right:0;
	}
	.page_nation a.active {
		background-color:#42454c;
		color:#fff;
		border:1px solid #42454c;
	}
	/* 페이징처리끝 */
	
	/*컨테이너 별로 묶은 박스 공통*/	
	 #companyBox, #infoBox, #buyHistory, #reportBox, #randomBox, #bannerContainer, #todayContainer, 
	 #cateContainer, #popContainer, #useInfoContainer, #infoHandleContainer, #useTermsContainer, 
	 #financialContainer, #salesBox1, #salesBox2, #salesCateBox{ 
	 	width:500px;
	 	margin-left:35px;
	 	border-radius:10px; 
	 	top:20px;
	 	background-color:white;
	 	-webkit-box-shadow: 4px 6px 15px -7px #C4C4C4; 
		box-shadow: 4px 6px 15px -7px #C4C4C4;
	 }
	  #companyBox li, #infoBox li, #report li, #buyHistory li, #randomBox li, #bannerContainer li, #todayContainer li{
	  	padding-top:15px;
	  } 
	 #companyHeader, #infoHeader, #reportHeader, #buyHeader{ 
	 	left:-40px;
	 	width:250px !important;
	 }
	  #companyHeader li, #infoHeader li, #reportHeader li, #buyHeader li{
	  	font-weight:bold;
	  	padding-top:20px;
	  }
	
	/*섬머노트 버튼*/
	
	/*====================디자인 게시판========================*/
	.randomUl{
		position:relative;
	}
	/*첨부파일*/ 
	.attach{
		height:28px;
		width:150px;
		font-size:14px;
		color:dimgray;
		background-color:#eee;
		padding:7px 0;
		border:1px solid gray;
		border-radius:3px;
		margin-right:10px;
		font-weight:normal;
	}
	input[type=text]{
		border-color:lightgray;
		border-radius:3px;	 
		padding-left:5px;
		width:300px;
		font-weight:normal;
	} 
	.uploadFile{
		width:220px;
		font-weight:normal;
	}  
	.randomUl, .randomUl div, #randomBox ul, #bannerBox, form, #todayBox {
		display:flex;
	}
	/*컨테이너 내 헤더*/
	 #bannerTitle, #todayHeader, #cateHeader, #popHeader{
	 	padding-top:10px;
	 }
	 
	/*========회원정보 전체=========*/
	#infoBox, button, #infoTitle>p{
		position:relative;
	} 
	input{
		border:1px solid gray;  
	}
	#infoBox button{
		color:black; 
	  	height:30px;
	  	width:100px; 
	  } 
	  
	/*==========================랜덤 룰렛==========================*/
	 #randomBox{
	 	margin-top:30px;
	 }
	 #randomBox ul{
	 	margin-left:80px;
	 }
	 #randomBox li{
	  	padding-top:15px;
	} 
	 #randomBox li:nth-of-type(2){
		margin-right:10px;
	}
	#randomBox input[type="file"]{
		display:none;
	}  
	#randomBox button{
		margin:0 5px !important; 
	}
	.randomUl{ 
	 	left:-40px;
	 	width:250px !important; 
	 }
	.randomUl div{ 
		width:400px;
	}
	.randomUl li{
	  	font-weight:bold;
	  	padding-top:20px;
	  } 
	  #randomTitle>div{
	  	position:relative; 
	  } 
	  
	 /*==========배너 이미지===========*/	 
	 #bannerContainer{ 
	 	top:50px; 
	 } 
	 #bannerContainer button{
	 	width:70px;
	 }
	 #bannerBox{
	 	margin-top:20px; 
	 } 
	  #bannerBox>ul{
	  	margin-left:15px;
	  }
	 #bannerBox li{
	 	width:170px;
	 }  
	 #bannerBox input[type=text]{
	  	width:150px;
	 } 
	 #bannerBox button{
	 	margin:7px 0;
	 } 
	 .bannerImg>img{
	 	width:150px;
	 	height:150px;
	 }
	 
	 /*===========================오늘의 상품===========================*/
	#todayContainer{
		margin-top:60px;
	}	
	#todayContainer	img{
		height:120px;
		width:120px;
	}  
	#todayBox button{
		width:58px;
	}
	#todayBox input{
		width:130px;
	}
	
	/*===========================카테고리 관리============================*/
	#cateContainer{
		margin:60px 0 0 0;
		width:1000px;
		height:650px;
	}
	#cateContainer label{
		background-color:white;
		text-align:center;
		margin-top:20px;
	} 
	#cateContainer label:nth-of-type(1){
		width:500px;
		height:30px;
	} 
	.cateSmHeader>span:nth-of-type(1){
		margin-left:110px;
	}
	.cateSmHeader>span:nth-of-type(2){
		margin-left:50px;
	}
	#cateContainer li:nth-of-type(1)>input{
		padding-left:10px;
		width:30px;
	}
	#cateContainer li:nth-of-type(2)>input{
		padding-left:10px;
		width:150px;
	}
	#cateContainer .delBtn{
		width:60px;
	}
	#cateContainer>section div, #cateContainer ul, #sectionBox>section{
		width:500px;
	}
	#cateContainer ul{
		display:flex;
		margin:10px 0 10px 110px;
	}
	#cateContainer ul>li{
		margin-right:10px;
	}
	.addCate{
		margin:10px 0 30px 0;
	}	
	.addCate:nth-of-type(1){ 
		margin: 20px 0 0 0;
		display:flex;
	} 
	.addCate:nth-of-type(1)>*{
		margin-right:15px;
	}
	.addCate:nth-of-type(1)>select{
		width:100px;
	}
	.addCate:nth-of-type(1)>input{
		width:220px;
	}
	.addCate:nth-of-type(2)>input{
		width:220px;
	}
	.addCate:nth-of-type(3){ 
		margin-left:30px;
	}
	#sectionBox{
		display:flex;
	}
	#cateBox1>div, #cateBox2>div{
		margin-top:20px;
	}
	.hr{
		width:450px; 
		margin:13px 0;
	} 
	.hr:nth-of-type(1){
		padding-left:20px;
	}
	/*=======2차 카테고리 표=========*/
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-7eit{background-color:#ffffff;border-color:#ffffff;text-align:center;vertical-align:middle}
 	#cateBox2 th:nth-of-type(1)>input{
 		width:80px;
 	}
 	.cateMainName>input{
 		text-align:center;
 		padding-left:0;
 	}
 	.cateNum>input{
 		width:30px;
 		padding-left:10px;
 	}
 	.cateName>input{
 		width:130px;
 	} 
 	
 	/*====================팝업 관리========================*/
 	#popContainer{
 		margin:80px 0 0 0;
 		width:1000px; 
   	 	height: 330px;
	}
	#popBox{
		display:flex;
	}
	#popBox1,#popBox2{
		margin:40px 0 0 140px;
	}
	#popBox1>img{
		width:200px;
		height:200px;
	}
	#popBox2{
		margin-top:70px;
	}
	#popBox2 label{
		text-align:center; 
	}
	#popBox2>div{
		display:flex;
	}
	#popBox2>input{
		border-color:gray;
	}
	#popBox2 input[type=file]{
		display:none;
	}
	#popDate{
		margin:20px 0;
		color:gray;
	}
	#popBox2 input[type=date]{
		width:174px;
	}
	#popBox2 input[type=text]{
		width:380px;
	}
	
	/*===================이용안내, 개인정보, 금융정보 등 관리===================*/
	 #useInfoContainer, #infoHandleContainer, #useTermsContainer, #financialContainer{
	 	margin-top:50px;
	 	width:1000px;
	 	margin-left:0;
	 	height:500px;
	 }
	 #useInfoHeader, #infoHandleHeader, #useTermsHeader, #financialHeader{
	 	padding-top:10px;
	 }
	 .bottommm{
	 	text-align:center;
	 	margin:10px 0 30px 0;
	 }
	 /*회원관리*/
	 #choose{
	 	margin:90px 0 0 20px; 
	 	width:1100px;
	 }
	 #choose button{
	 	font-size:15px;
	 	width:49%;
	 	height:50px;
	 	font-size:16px;
	 	font-weight:bold;
	 	color:dimgray;
	 }