@charset "UTF-8";
/*================ 기본 설정 시작 =================*/
section{
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}

article{
	width: 1280px;
	hegith: 100px;
	border-bottom: #ddd;
	padding: 50px;
	margin: 120px auto 0 auto;
}

ul,li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a:hover,a:active,a:visited,a:link{
	text-decoration: none; 
	color: #aaa;
}
/*================ 본문 시작 =================*/
/* 공통분모 설정 */
.wrap{
	width: 100%;
	margin: 0 auto;
}

.wrapContainer{
	width: 100%;
	margin-bottom: 100px;
	border: 1px solid #aaa;
}

.wrapTitle{
	margin: 0 auto;
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: black;
	font-size: 16px;
}

.seller_title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}

.normalBtn{
	height: 25px;
	line-height: 25px;
	background-color: #fff;
	margin-top: 15px;
	border: 1px solid #aaa;	
	text-align: center;
}

/*==================조회하기=================*/
#searchingStandard{
	height: 20px;
	display: flex;
}

#searchingTerm{
	height: 20px;
	display: flex;
}

#searchingBtnContainer{
	width: 100%;
	text-align: center;
	padding:0 5px;
}

/*==================주문 건별 정산분석=================*/
table{
	width: 100%;
	border: 1px solid #aaa;
}
table>thead>tr{
	display: flex;
	background-color: #ddd;
}

table>tbody>tr{
	display: flex;
}

table>thead th, table>tbody td{
	flex-basis: 12.5%;
	text-align: center;
}


/*================ 페이징처리부분 ===============*/
.page_wrap {
	text-align:center;
	font-size:0;
	padding-bottom: 30px;
	padding-top: 30px;
}
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}

.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}
/* 페이징처리끝 */