@charset "UTF-8";
/*================ 기본 설정 시작 =================*/
header{
	width: 1080px; 
	margin: 0 auto;
	height: 200px;
}
section{
	width: 1080px;
	margin: 0 auto;
	overflow: auto;
	display: flex;
	flex-direction: row;
}
footer{
	width: 1080px;
	margin: 0 auto;
}
ul,li{
	padding: 0;
	margin: 0;
}
.font_bold{
	font-weight: bold;
}
a:hover,a:active,a:visited,a:link{text-decoration: none; color: white;}
/*================ 기본 설정 끝 =================*/

/*================ 헤드 시작 ===================*/
#memberInfo_container{
	display: flex;
	flex-direction: row-reverse;
	margin: 15px 0;
}
#memberInfo_container span:nth-child(n+1):nth-child(-n+2),#memberInfo_container span:nth-child(5){
	background-color: black;
	border-radius: 20px;
	padding: 0 10px;
	margin: 10px 10px;
}
#memberInfo_container span:nth-child(n+3){
	margin: 10px 5px;
}
#memberInfo_container span:nth-child(3)>a{
	color: black;
}
#memberInfo_container span:nth-child(4){
	display: inline;
	width: 5px;
	height: 5px;
	border-radius: 50px;
	background-color: red;
	margin-top: 20px;
}
#logo_container{
	width: 1080px;
	text-align: center;
}
#logo_img{
	width: 200px;
	height: 100px;
}


/*================ 헤드 끝 ====================*/

/*================ 사이드바 시작=================*/
nav{
	width: 180px;
	padding: 0 10px;
	background-color: rgb(224,102,102);
}
nav li{
	padding: 15px;
	text-align: center;
}
/*================ 사이드바 끝 =================*/



/*================ 본문 시작 =================*/
article{
	width: 100%;
}

/* 검색하기 */
#search_container{
	width: 100%;
	height: 30px;
}
#search_box{
	height: 30px;
	line-height: 30px;
	border: solid 1px #ddd;
	display: inline-block;
	float: right;
	background-color: #fff;
}
#search{
	height: 25px;
	text-indent: 0.2em;
	border: white;
	float: left;
}
#search_box img{
	width: 27px;
	height: 27px;
	
	filter: invert(86%) sepia(34%) saturate(7117%) hue-rotate(311deg) brightness(90%) contrast(103%);
	float: right;
}

/*---------- 본문 컨테이너 -----------*/
#info_container{
	width: 700px;
	margin: 0 auto 30px auto;
}
#info_container>div{
	margin-bottom: 30px;
}
/* 프로필 이미지*/
#profile_box{
	width: 700px;
	height: 200px;
	text-align: center;
	margin: 30px auto;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
}
#farmname{
	font-size: 12px;
	margin-bottom: 10px;
}
#profile_box img{
	width: 100px;
	height: 110px;
	margin: 10px auto 0 auto;
}

/* 농장 소개 */
#farm_info>div,#farm_contact>div:nth-child(1),#farm_repMenu>div:nth-child(2){
	width: 150px;
	font-size: 20px;
	font-family: 나눔고딕;
	font-weight: bold;
}
#farm_info,#farm_contact,#farm_repMenu{
	display: flex;
}
#contact_content{
	width: 600px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
}
#contact_content div{
	overflow: auto;
}
#contact_content span{
	width: 130px;
	float: left;
}
#contact_content p{
	float: left;
	margin: 0;
}

/* 대표 메뉴 */
#repMenu_content{
	width: 600px;
	display: flex;
	border: 1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
}
#repMenu_content img{
	width: 150px;
	height: 150px;
	border-radius: 10px;
	float: left;
}
#repMenu_content>div>div{
	display:flex;
}
#repMenu_content>div>div{
	margin: 10px;
}
#repMenu_content>div>p{
	margin: 0 10px 10px 10px;
	font-weight: bold;
}

#repMenu_content span{
	color: red;
}

#info_frm>div:last-child{
	width: auto;
	text-align: center;
}
#edit_btn{
	display: inline;
	margin: 0 auto;
	padding: 5px 10px;
	color: #fff;
	background-color: #aaa;
	border: 0px;
	border-radius: 5px;
}
/*---------- 본문 컨테이너 끝 -----------*/

/*================ 본문 끝 =================*/