@charset "UTF-8";
/*================ 기본 설정 시작 =================*/
section{
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}

article{
	width: 1280px;
	border-bottom: #ddd;
	padding: 50px 0;
	margin: 120px auto 0 auto;
}

ul,li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a:hover,a:active,a:visited,a:link{
	text-decoration: none; 
	color: #aaa;
}
/*================ 본문 시작 =================*/
/* 공통분모 설정 */
.wrap{
	width: 100%;
	margin: 0 auto;
}

.marginDiv{
	width:100%;
	margin: 0 auto;
	padding: 20px 0;
}

.wrapContainer{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
}

.wrapTitle{
	margin: 0 auto;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: black;
	font-size: 16px;
	border-bottom: 1px solid #bbb;
	text-indent: 1em;
}


.seller_title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.normalBtn{
	float: right;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background-color: #aaa;
	color: white;
	border: 1px solid #aaa;	
}


/* 리뷰보기 */
#askInfo{
	flex-basis: 50%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
}

#askInfo li{
	flex-basis: 33.3%;
	text-align: center;
}


#askInfo li>:nth-child(2){
	font-weight: bold;
	margin-top:30px;
}

#askInfo li>:nth-child(3){
	font-size: 18px;
	font-weight: bold;
	color: red;
}

#askInfo li>img{
	width: 100px;
	height: 110px;
	padding: 20px 0;
}

/* 카테고리 검색 */
#categoryList{
	flex-basis: 50%;
	border: 1px solid #aaa;
}

#categoryListMiddle{
	width: 100%;
	height: 170px;
	display: flex;
	flex-basis: 1;
	margin-bottom: 10px;
}

#categoryListMiddle ul{
	border-bottom: 1px solid #aaa;
	overflow: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
}

#category{
	border-right: 1px solid #aaa;
}

#category a{
	color: black;
}

#categoryListMiddle li{
	width: 100%;
	text-indent: 0.4em;
	display: flex;
	padding: 3px 0;
}


#categoryListMiddle li:hover{
	background-color: #eee;
}

#categoryListMiddle span{
	margin-left: auto;
	margin-right: 10px;
}

#categoryManagement{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#categoryManagement li{
	text-indent: 0.4em;
	margin-right: 5px;
}

#categoryManagement a{
	color: black;
	font-weight: bold;
}

#categorySearch_container{
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	
}

.categorySearch_item{
	flex-basis: 100px;
	margin-right: 10px;
}

#categoryDate{
	height: 26px;
	margin-left: 10px;
}

#calendarApply{
	border: 1px solid #aaa;
	background-color: white;
	padding: 0 5px;
}

#mcategory li>a{
	color: black;
}


/* 리뷰 출력 */
#sortContainer{
	width: 93%;
	height: 30px;
}

#sortSelect{
	float: right;
}

table{
	width: 100%;
	margin: 20px 0;
}

table tr{
	display: flex;
}

table th:nth-child(1){
	flex-basis: 25%;
}

table th:nth-child(2){
	flex-basis: 45% 
}

table th:nth-child(3), table th:nth-child(4){
	flex-basis: 15%;
}

table th{
	background-color: #eee;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

tbody tr{
	height: 120px;
	align-items:center;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

table td {
	height: 80px;
}

table td:nth-child(1){
	flex-basis: 25%;
	height: 80px;
	line-height: 80px;
	border-right: 1px solid #ddd;
	text-align: center;
}

table td:nth-child(2){
	flex-basis: 45%;
}

table td:nth-child(2)>div:nth-child(1){
	width:576px;
	height:30px;
	margin: 0 10px 0 10px;
	font-weight: bold;
	font-size: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

table td:nth-child(2)>div:nth-child(2){
	width:576px;
	height:45px;
	text-align: left;
	margin-bottom: 5px;
	
	text-overflow: ellipsis;
	overflow: hidden;
	margin-left: 10px;
}

table td:nth-child(2)>div:nth-child(2)>div:nth-child(2){
	height:45px;
	text-align: left;
	line-height:2.2rem;
	white-space: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}

table td:nth-child(3), table td:nth-child(4){
	flex-basis: 15%;
	text-align: center;
}

table td:nth-child(3)>div:nth-child(1){
	font-size: 16px;
	font-weight: bold;
}

table tr:hover{
	background-color: #F0F8FF;
}

/* 페이징처리부분 */
.page_wrap {
	text-align:center;
	font-size:0;
	padding-bottom: 30px;
	padding-top: 30px;
}
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}

.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}
/* 페이징처리끝 */




/*================ 본문 끝 =================*/
/* 모달 */
#modal{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	background-color:black;
	display:none;
}

/* 팝업 */
#popup{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}

.wrapContainer_Edit1{
	width: 700px;
	height: 540px;
	margin: auto;
	overflow: auto;
	background-color: #fff;
	padding: 20px;
}


#askManagement{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

#askManagement>li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: flex;
	align-items:center;
	border-bottom: 1px solid #ccc;
	padding:14px;

}

#askManagement>li>b{
	width: 20%;
	font-weight: bold;
	margin-right: 10px;
}

.popupContentTitle{
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding: 5px 0;
	margin: 10px 0 15px 0;
	font-weight: bold;
}

#askContent{
	width: 100%;
	height: 100px;
	overflow:hidden;
	text-overflow:ellipsis;
	margin: 10px auto 30px auto;
}

#qContent p{
	margin: 10px 0;
}

#askAnswer p{
	margin: 10px 0;
}

#popupBtnContainer{
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #fff;
	margin-top: 30px;
}

.answerBtn{
	float: center;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background-color: #0080ff;
	color: white;
	border: 1px solid #aaa;	
	border-radius: 5px;
}

#popupBtnContainer>input[value="닫기"]{
	margin: 0 10px;
	background-color: #ddd;
}

#popupBtnContainer>input[value="신고"]{
	background-color: #ff9999;
	color: #fff;
}


/* 신고하기 */
#report{
	width: 100%;
	height: 100%;
	position: absolute;
	display:none;
	margin: auto;
}

#reportFrm{
	width:100%;
	text-align:center;
	display:inline-flex;
	flex-direction: column;
	align-items: cneter;
	justify-content: center;
	background-color: #ffffff;
	border: 2px solid #ddd;
}

#reportReason{
	display:flex;
	justify-content: space-between;
	margin: 5px 10px;
}

#reportContent{
	width:95%;
	height: 100px;
}

#reportBtn{
	display:flex;
	justify-content: flex-end;
}

#reportBtn>input{
	margin: 5px 5px 5px 0;
}

