@charset "UTF-8";
/*================ 기본 설정 시작 =================*/
section{
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}

article{
	width: 1280px;
	border-bottom: #ddd;
	padding: 50px;
	margin: 120px auto 0 auto;
}

ul,li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a:hover,a:active,a:visited,a:link{
	text-decoration: none; 
	color: #aaa;
}
/*================ 본문 시작 =================*/
/* 공통분모 설정 */
.wrap{
	width: 100%;
	margin: 0 auto;
}

.wrapContainer{
	width: 100%;
	margin-bottom: 100px;
	border: 1px solid #aaa;
}

.wrapTitle{
	margin: 0 auto;
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: black;
	font-size: 16px;
}

.seller_title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}

.normalBtn{
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background-color: white;
	margin-top: 15px;
	border: 1px solid #aaa;	
}


/* 리뷰보기 */
#askInfo{
	display: flex;
	flex-wrap: wrap;
}

#askInfo li{
	height: 60px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #ccc;
	flex-grow: 1;
}
/* 카테고리 검색 */
#categoryList{
	width: 90%;
	margin: 50px auto;
	border: 1px solid #aaa;
}

#categoryListMiddle{
	width: 100%;
	height: 170px;
	display: flex;
	flex-basis: 1;
	margin-bottom: 10px;
}

#categoryListMiddle ul{
	border-bottom: 1px solid #aaa;
	overflow: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
}

#category{
	border-right: 1px solid #aaa;
}

#category a{
	color: black;
}

#categoryListMiddle li{
	width: 100%;
	text-indent: 0.4em;
	display: flex;
	margin-top:5px;
}

#categoryListMiddle span{
	margin-left: auto;
	margin-right: 10px;
}

#categoryManagement{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#categoryManagement li{
	text-indent: 0.4em;
	margin-right: 5px;
}

#categoryManagement a{
	color: black;
	font-weight: bold;
}

#categorySearch_container{
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	
}

.categorySearch_item{
	flex-basis: 100px;
	margin-right: 10px;
}

#categoryDate{
	height: 26px;
	margin-left: 10px;
}

#calendarApply{
	border: 1px solid #aaa;
	background-color: white;
	padding: 0 5px;
}

#mcategory li>a{
	color: black;
}

/* 리뷰 출력 */
#sortContainer{
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
}

#sortSelect{
	float: right;
}

#askList{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#askList li:nth-child(n+1):nth-child(-n+5){
	background-color:#bbb;
	font-weight: bold;
}

#askList li{
	flex: 1 1 20%;
	height: 72.4px;
	text-align: center;
	border: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 20px 0;
}

#askList a{
	color: #0080ff;
}


/* 페이징처리부분 */
.page_wrap {
	text-align:center;
	font-size:0;
	padding-bottom: 30px;
	padding-top: 30px;
}
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}

.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}
/* 페이징처리끝 */




/*================ 본문 끝 =================*/
/* 모달 */
#modal{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	background-color:black;
	display:none;
}

/* 팝업 */
#popup{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}

.wrapContainer_Edit1{
	width: 700px;
	height: 540px;
	margin: auto;
	overflow: auto;
	background-color: #fff;
}


#askManagement{
	width: 100%;
	display: flex;
	flex-direction: column;
}

#askManagement>li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: flex;
	align-items:center;
	border-bottom: 1px solid #ccc;

}

#askManagement>li>b{
	width: 20%;
	font-weight: bold;
	margin-right: 10px;
}

#askContent{
	width: 95%;
	height: 100px;
	background-color: #ddd;
	display: flex;
	margin: 10px auto;
}

#qContent p{
	flex-basis: 2;
	padding: 10px 14px;
}

#popupBtnContainer{
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #fff;
}

#popupBtnContainer>input[value="닫기"]{
	margin: 0 10px;
	background-color: #ddd;
}

#popupBtnContainer>input[value="신고"]{
	background-color: #ff9999;
	color: #fff;
}

/* 신고하기 */
#report{
	width: 100%;
	height: 100%;
	position: absolute;
	display:none;
	margin: auto;
}

#reportFrm{
	width:100%;
	text-align:center;
	display:inline-flex;
	flex-direction: column;
	align-items: cneter;
	justify-content: center;
	background-color: #ffffff;
	border: 2px solid #ddd;
}

#reportReason{
	display:flex;
	justify-content: space-between;
	margin: 5px 10px;
}

#reportBtn{
	display:flex;
	justify-content: flex-end;
}

#reportBtn>input{
	margin: 5px 5px 5px 0;
}