@charset "UTF-8";
/*================ 기본 설정 시작 =================*/
section{
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}

article{
	width: 1280px;
	hegith: 100px;
	border-bottom: #ddd;
	padding: 50px;
	margin: 120px auto 0 auto;
}

ul,li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a:hover,a:active,a:visited,a:link{
	text-decoration: none; 
	color: #aaa;
}
/*================ 본문 시작 =================*/
/* 공통분모 설정 */
.wrap{
	width: 100%;
	margin: 0 auto;
}

.marginDiv{
	width:1280px;
	margin: 0 auto;
	padding: 20px 0;
}

.wrapContainer{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
}

.wrapTitle{
	margin: 0 auto;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: black;
	font-size: 16px;
	border-bottom: 1px solid #bbb;
	text-indent: 1em;
}

.seller_title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.normalBtn{
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background-color: #aaa;
	color: white;
	border: 1px solid #aaa;	
}

/*==================조회하기=================*/
#searchingStandard, #searchingTerm{
	display: flex;
}

#searchingBtnContainer{
	padding:0 5px;
}

#searchingBtnContainer input:nth-child(1){
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background-color: #aaa;
	color: white;
	border: 1px solid #aaa;	
}

#searchingBtnContainer input:nth-child(2){
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background-color: #aaa;
	color: white;
	border: 1px solid #aaa;	
}

#searchingStandard, #searchingTerm{
	margin-top: 30px;
}

#searchingTerm{
	margin-bottom: 30px;
}

#searchingFrm{
	border: 1px solid #ccc;
	border-radius: 5px;
}

#searchingFrm p{
	margin: 0 50px 0 30px;
}

#searchingStandard input{
	width: 150px;
	height: 50px;
	border: 1px solid #ccc;
}

#searchingTerm select, #searchingTerm input{
	margin-right: 10px;
}

#dateBtn{
	background-color: #ddd;
}

#orderBtn{
	background-color: #fff;
}

#dateBtn:hover, #orderBtn:hover{
	transition: transform 1s;
	transform: scale(1.05,1.05);
}


/*==================주문 건별 정산분석=================*/
#excelDown{
	float: right;
}

table{
	width: 100%;
	border-collapse: collapse;
}

table>thead>tr{
	display: flex;
	background-color: #eee;
}

table>tbody>tr{
	display: flex;
} 

table>thead th, table>tbody td{
	flex-basis: 12.5%;
	text-align: center;
	border: 1px solid #ddd;
	padding: 10px;
}

table tr td{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#totalMoney{
	width:100%;
	text-align: right;
	margin: 5px 5px 5px 0;
	font-weight: bold;
	
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
}


/*================ 페이징처리부분 ===============*/
.page_wrap {
	text-align:center;
	font-size:0;
	padding-bottom: 30px;
	padding-top: 30px;
}
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}

.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}
/* 페이징처리끝 */