@charset "UTF-8";
/*================ 기본 설정 시작 =================*/
section{
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}

article{
	width: 1280px;
	border-bottom: #ddd;
	padding: 50px;
	margin: 120px auto 0 auto;
}

ul,li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a:hover,a:active,a:visited,a:link{
	text-decoration: none; 
	color: #aaa;
}
/*================ 본문 시작 =================*/

/*---------- 본문 컨테이너 -----------*/
.seller_title{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}
#info_container{
	width: 80%;
	margin: 0 auto 30px auto;
}
#info_container>div{
	margin-bottom: 30px;
}
/* 프로필 이미지*/
#profile_box{
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background-color: #fff;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}
#farmname{
	font-size: 12px;
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
}

#profile_box>div:nth-child(3){
	font-size: 10px;
	color: gray;
	
}

#profile_box img{
	width: 100px;
	height: 110px;
	margin: 10px auto 0 auto;
}

/* 농장 소개 */
#farm_info>div:nth-child(1),#farm_contact>div:nth-child(1),#farm_repMenu>div:nth-child(2){
	width: 150px;
	font-size: 20px;
	font-family: 나눔고딕;
	font-weight: bold;
}
#farm_info,#farm_contact,#farm_repMenu{
	display: flex;
}

#farm_info>div:nth-child(2){
	width: 100%;
	height: 100%;
	margin-left: 10px;
}

#contact_content{
	width: 90%;
	border: 1px solid #ddd;
	padding: 10px;
}
#contact_content>b{
	font-size: 20px;
}

#contact_content div{
	overflow: auto;
	margin-top: 5px;
}
#contact_content span{
	width: 130px;
	float: left;
}
#contact_content p{
	float: left;
	margin: 0;
	font-weight: bold;
}

/* 대표 메뉴 */
#repMenu_content{
	width: 90%;
	display: flex;
	border: 1px solid #ddd;
	overflow: hidden;
}
#repMenu_content img{
	width: 150px;
	height: 150px;
	float: left;
}

#repMenu_content>div{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}

#repMenu_content>div>div:nth-child(1){
	display:flex;
	font-size: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#repMenu_content>div>div{
	margin: 10px;
}

#repMenu_content>div>div:nth-child(2){
	margin: 0 10px 10px 10px;
	font-weight: bold;
	display: flex;
}

#repMenu_content>div>div:nth-child(2)>div{
	color: red;
}

#info_frm>div:last-child{
	width: auto;
	text-align: center;
}
#edit_btn{
	display: inline;
	margin: 0 auto;
	padding: 5px 10px;
	color: #fff;
	background-color: #aaa;
	border: 0px;
}
/*---------- 본문 컨테이너 끝 -----------*/

/*================ 본문 끝 =================*/