<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.admin.dao.Admin_SalesDAO">
	<select id="getCompaySellerCustomerData" resultType="com.beetmall.sshj.admin.vo.Admin_SalesVO">	
		select nvl(sum(realpayment) -round(((sum(realpayment)*0.058))*0.058),0) sePay,
        nvl(round((sum(realpayment)*0.058)),0) coPay, count(ordernum) cuPay 
        from ordertbl where orderdate between #{startDate} and #{endDate} 
		and ordernum in (select ordernum from orderdetail 
		where not( orderstatus = '환불' or orderstatus = '취소' or orderstatus = '환불 진행중'))
	</select>
</mapper>