<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.admin.dao.CsQBrowseDAO">
	<select id="csQBrowseList" resultType="com.beetmall.sshj.admin.vo.csQBrowseVO" parameterType="com.beetmall.sshj.admin.vo.adminkPageSearchVO">
		select * from(
	    	select * from(
				select a.qnum, a.productnum, a.userid as custom, seller, reportcount, a.qtitle, to_char(a.qwritedate, 'YYYY-MM-DD') qwritedate
                from userqboard a
                join (select productnum, userid as seller 
                       from product) b
                on a.productnum=b.productnum
                left outer join (select userid , reportboard, reportboardnum, count(*) as reportcount
                                     from report
                                     group by userid, reportboard, reportboardnum) c
                on a.userid=c.userid
				where 1=1
				<!-- <choose>
					<when test ='searchKey!=null'>
						and faqcate = '${searchKey}' 
					</when>
					<when test ='searchKey!=null and searchWord==null'>
						where faqcate = '${searchKey}' and faqoption = 1
					</when>
					<when test ='searchWord!=null'>
						where faqtitle like '%${searchWord}%' and faqoption = 1
					</when>
					<when test ='searchWord==null'>
						where faqoption = 1
					</when>
				</choose> -->
				order by qnum desc)
			where <![CDATA[rownum<=]]>${pageNum}*${onePageRecord} order by qnum)
			where <![CDATA[rownum<=]]><if test="pageNum==totalPage">${lastPageRecord}</if>
        							  <if test="pageNum!=totalPage">${onePageRecord}</if>
        order by qnum desc
	</select>
	<select id="csQBrowseOnetotalRecord" parameterType="com.beetmall.sshj.admin.vo.adminkPageSearchVO" resultType="int">
		select count(*)
		from (select a.qnum, a.productnum, a.userid as custom, seller, reportcount, a.qtitle, to_char(a.qwritedate, 'YYYY-MM-DD') qwritedate
				from userqboard a
				join (select productnum, userid as seller 
				       from product) b
				on a.productnum=b.productnum
				left outer join (select userid , reportboard, reportboardnum, count(*) as reportcount
				                     from report
				                     group by userid, reportboard, reportboardnum) c
				on a.userid=c.userid
				order by qnum)
		<!-- <choose>
			<when test = 'searchWord!=null and searchKey!=null'>
				where faqtitle like '%${searchWord}%' and faqoption=1 and faqcate=${searchKey}
			</when>
			<when test = 'searchWord!=null'>
				where faqtitle like '%${searchWord}%' and faqoption=1 
			</when>
			<when test = 'searchWord==null'>
				where faqoption=1
			</when>
		</choose> -->
	</select>
	<select id="csQOpenSelect" resultType="com.beetmall.sshj.admin.vo.csQBrowseVO">
		select a.qnum, a.productnum, a.userid as custom, seller, a.qtitle, to_char(a.qwritedate, 'YYYY-MM-DD') qwritedate, qcontent, qanswer, qanswerdate
				from userqboard a
				join (select productnum, userid as seller 
				       from product) b
				on a.productnum=b.productnum
    	where qnum=${param1}
	</select>
</mapper>