<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.admin.dao.CsQuestionDAO">
	<select id="csQuestList" resultType="com.beetmall.sshj.admin.vo.CsQuestionVO" parameterType="com.beetmall.sshj.admin.vo.adminkPageSearchVO">
    	select * from(
	    	select * from(
                select qmnum, userid, qmtitle, to_char(qmdate, 'YYYY-MM-DD') qmdate, qmoption 
                from qmboard
				where 1=1
				<!-- <choose>
					<when test ='searchKey!=null'>
						and faqcate = '${searchKey}' 
					</when>
					<when test ='searchKey!=null and searchWord==null'>
						where faqcate = '${searchKey}' and faqoption = 1
					</when>
					<when test ='searchWord!=null'>
						where faqtitle like '%${searchWord}%' and faqoption = 1
					</when>
					<when test ='searchWord==null'>
						where faqoption = 1
					</when>
				</choose> -->
				order by qmnum desc)
			where <![CDATA[rownum<=]]>${pageNum}*${onePageRecord} order by qmnum)
			where <![CDATA[rownum<=]]><if test="pageNum==totalPage">${lastPageRecord}</if>
        							  <if test="pageNum!=totalPage">${onePageRecord}</if>
        order by qmnum desc
	</select>
	<select id="csQuestOnetotalRecord" parameterType="com.beetmall.sshj.admin.vo.adminkPageSearchVO" resultType="int">
		select count(*) 
		from (select qmnum, userid, qmtitle, to_char(qmdate, 'YYYY-MM-DD') qmdate, qmoption 
              from qmboard)
		<!-- <choose>
			<when test = 'searchWord!=null and searchKey!=null'>
				where faqtitle like '%${searchWord}%' and faqoption=1 and faqcate=${searchKey}
			</when>
			<when test = 'searchWord!=null'>
				where faqtitle like '%${searchWord}%' and faqoption=1 
			</when>
			<when test = 'searchWord==null'>
				where faqoption=1
			</when>
		</choose> -->
	</select>
	<select id="csAnswerWrite" resultType="com.beetmall.sshj.admin.vo.CsQuestionVO">
		select qmnum, qmoption, userid, qmtitle, to_char(qmdate, 'YYYY-MM-DD') qmdate, qmcontent, qmanswer
        from qmboard where qmnum=${param1}
	</select>
	<update id="csAnswerWriteOk" parameterType="com.beetmall.sshj.admin.vo.CsQuestionVO">
		update qmboard set qmanswer=#{qmanswer}, qmanserdate=sysdate where qmnum=${qmnum}
	</update>
</mapper>