<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.custom.dao.ChatDAO">
	<select id="selectChat" resultType="com.beetmall.sshj.custom.vo.ChatVO" parameterType="com.beetmall.sshj.custom.vo.PointPageVO">
		select * from(
		select * from(
		select * from oto o join (
		select distinct o.roomcode, max(o.otonum) as b, cre_out, rec_out, r.creator, r.receiver
		from oto o 
		join roomoto r on o.roomcode = r.roomcode
		where (o.sender=#{userid} or o.receiver=#{userid}) and ((cre_out = 1 and r.creator = #{userid}) or (rec_out = 1 and  r.receiver=#{userid}))
		group by o.roomcode, cre_out, rec_out, r.creator, r.receiver) r
		on o.otonum = r.b
		)where rownum<![CDATA[<=]]>${pageNum}*${onePageRecord} order by otodate asc
		)where rownum<![CDATA[<=]]><if test="pageNum==totalPage">${lastPageRecord}</if>
								   <if test="pageNum!=totalPage">${onePageRecord}</if> 
		order by otodate desc
	</select>
	<select id="getRecord" resultType="Integer">
		select count(*) from oto o join (
		select distinct roomcode, max(otonum) as b
		from oto
		where sender=#{param1} or receiver=#{param1}
		group by roomcode) r
		on o.otonum = r.b
	</select>
	<update id="chatRoomOut">
		update roomoto set ${param2} = 0 where roomcode = #{param1}
	</update>
	<select id="outRoomSelect"  resultType="Integer">
		select count(creator) from roomoto where creator = #{param1} and roomcode = #{param2}
	</select>
	<delete id="roomClean">
		delete from roomoto where cre_out = 0 and rec_out = 0
	</delete>
</mapper>