<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.custom.dao.CustomInfoDAO">
	<insert id="CustomInfoWrite" parameterType="com.beetmall.sshj.custom.vo.CustomInfoVO">
  			insert into userqboard(qnum, productnum, userid, qcontent,qwritedate,qopen,qanswer)
  			values(qmboardsq.nextval, #{productnum},'qwer' , #{qcontent}, sysdate,0,#{qanswer})
	</insert>
</mapper>