<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.custom.dao.FaqDAO">
	<select id="faqAllRecord" resultType="com.beetmall.sshj.custom.vo.FaqVO" parameterType="com.beetmall.sshj.custom.vo.PageSearchVO">
		select * from(
	    	select * from(
				select faqnum, faqcate, faqtitle, faqcontent, faqoption 
				from faq 
				where faqoption = 1 
				order by faqnum desc)
			where <![CDATA[rownum<=]]>${pageNum}*${onePageRecord} order by faqnum)
			where <![CDATA[rownum<=]]><if test="pageNum==totalPage">${lastPageRecord}</if>
        							  <if test="pageNum!=totalPage">${onePageRecord}</if>
        order by faqnum desc		
	</select>
	<select id="faqOnetotalRecord" parameterType="com.beetmall.sshj.custom.vo.PageSearchVO" resultType="int">
		select count(faqnum) from faq
	</select>
</mapper>