<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.custom.dao.FaqDAO">
	<select id="faqAllRecord" resultType="com.beetmall.sshj.custom.vo.FaqVO">
		select faqnum, faqcate, faqtitle, faqcontent, faqoption from faq where faqoption = 1 order by faqnum desc
	</select>
</mapper>