<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.custom.dao.MemberDAO">
	<insert id="regiFinishiOk">
		insert into member(userid, userpwd, username, userphone, useremail, userzipcode, useraddr, userdetailaddr, birthday, joindate, usertype, userstop, point)
		values(#{userid}, #{userpwd}, #{username}, #{userphone}, #{useremail}, #{userzipcode}, #{useraddr}, #{userdetailaddr}, #{birthday}, sysdate, #{usertype}, 'N',0)
	</insert>
	<select id="idOverlap" resultType="int">
		select count(userid) from member where userid = #{param1}
	</select>
	<select id="loginOk" resultType="com.beetmall.sshj.custom.vo.MemberVO">
		select userid, username, usertype, userstop  from member where userid=#{param1} and userpwd=#{param2}
	</select>
	<select id="infoSelect" resultType="String">
		select userinfocontent from useinfo where userinfotitle = #{param1}
	</select>
	<insert id="farmInsert" parameterType="com.beetmall.sshj.custom.vo.CategoryFarmVO">
		insert into farm(storenum, farmname, farmintro, farmprofile, farmvisitor, productnum)
		values(farmsq.nextval, null, null, null, 0, null)
	</insert>
	<insert id="sellerRegiFinishiOk" parameterType="com.beetmall.sshj.custom.vo.SellerMemberVO">
		insert into seller(userid, storenum, storename, sellername, sellerreginum, sellerregiimg, regiapproval, regiapprovaldate, storezipcode, storeaddr, storedetailaddr, storeemail, bank, bankname, bankaccount)
		values(#{userid}, farmsq.currval, #{storename}, #{sellername}, #{sellerreginum}, #{sellerregiimg}, 0, null, #{storezipcode}, #{storeaddr}, #{storedetailaddr}, #{storeemail}, #{bank}, #{bankname}, #{bankaccount})
	</insert>
	<select id="selectDelOk" resultType="Integer">
		select count(*) from member m
	    left join ordertbl o
	        on o.userid = m.userid
	    left join orderdetail t
	        on t.ordernum = o.ordernum
	    left join product p
	        on p.userid = m.userid
	     where (t.orderstatus in ('배송중', '배송완료') and m.userid=#{param1}) or (m.userid = #{param1} and p.sellfinish >= sysdate)
	</select>
	<update id="deleteId">
		update member set usertype=4 where userid=#{param1}
	</update>
	<select id="selectId" resultType="Integer">
		select count(*) from member where userid=#{param1} and userpwd =#{param2}
	</select>
	<select id="stopdate" resultType="String">
		select to_char(reportfin, 'YYYY/MM/DD') from reporttbl where userid=#{param1} and  rownum=1 order by reportfin desc
	</select>
</mapper>