<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.custom.dao.NoticeDAO">
	<select id="noticeAllRecord" resultType="com.beetmall.sshj.custom.vo.NoticeVO" parameterType="com.beetmall.sshj.custom.vo.PageSearchVO">
		select * from(
	    	select * from(
				select infonum, infotitle, infocontent,to_char(infowritedate,'YY-MM-DD') as infowritedate, infohit, infotype, infoattach 
				from notice 
				where infotype = 1 
				order by infonum desc)
			where <![CDATA[rownum<=]]>${pageNum}*${onePageRecord} order by infonum)
			where <![CDATA[rownum<=]]><if test="pageNum==totalPage">${lastPageRecord}</if>
        							  <if test="pageNum!=totalPage">${onePageRecord}</if>
        order by infonum desc
	</select>
	<select id="noticeSelect" resultType="com.beetmall.sshj.custom.vo.NoticeVO">
	select * from 
		(select infonum, infotitle, infocontent,to_char(infowritedate,'YY-MM-DD') as infowritedate, infohit, infotype, infoattach,
		lag(infonum, 1, 0) over (order by infonum desc) as prevNo,
		lag(infotitle, 1, '이전글이 없습니다.') over (order by infonum desc) as prevSubject,
		lead(infonum, 1, 0) over (order by infonum desc) as nextNo,
		lead(infotitle, 1, '다음글이 없습니다.') over (order by infonum desc) as nextSubject
		from notice where infotype = 1)
	where infonum=#{param1} and infotype = 1
	</select>
	<update id="noticeHit">
  		update notice set infohit=infohit+1 where infonum=#{param1}
  	</update>
  	<select id="noticeOnetotalRecord" parameterType="com.beetmall.sshj.custom.vo.PageSearchVO" resultType="int">
		select count(infonum) from notice where infotype=1
	</select>
</mapper>