@charset "UTF-8";

/* a:가상클래스 사용 "/
/*링크 스타일*/
a:link{text-decoration:none; color:gray; /*링크 상태일때*/}
/*방문했을때*/
a:visited{text-decoration:none; color:gray;}
/*마우스를 오버했을때*/
a:hover{text-decoration:none; font-weight:bold; color:gray}
/*마우스를 누르고 있을때*/
a:active{text-decoration:underline; color:red;}